/*=============== GOOGLE FONTS ===============*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  --hue: 210;
  --first-color: hsl(var(--hue), 25%, 50%);
  --first-color-alt: hsl(var(--hue), 50%, 45%);
  --title-color: hsl(228, 8%, 95%);
  --text-color: hsl(228, 5%, 62%);
  --body-color: hsl(228, 15%, 20%);
  --container-color: hsla(222, 42%, 6%, 0.669);

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 2rem;
  --bigger-font-size: 1.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 4rem;
    --bigger-font-size: 2rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

input,
textarea,
button {
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 2rem;
}

.section__title,
.section__subtitle {
  text-align: center;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.section__title {
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;
}

.section__subtitle span {
  color: var(--first-color);
}

.main {
  overflow: hidden;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  background-color: var(--container-color);
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__logo span {
  color: var(--first-color);
}

.nav__toggle,
.nav__close {
  display: flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%; 
    background-color: hsla(0, 0%, 10%, 0.3);
    width: 75%;
    height: 100%;
    padding: 4.5rem 0 0 3rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
    transition: right 0.4s ease-in-out; 
    z-index: 1000; 
  }
  .nav__menu.show-menu {
    right: 0; 
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: color 0.4s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}


.show-menu {
  right: 0;
}


.blur-header {
  background-color: transparent;
}

.blur-header::after {
  content: "";
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsla(0, 0%, 10%, 0.3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  top: 0;
  left: 0;
  z-index: -1;
}


.active-link {
  color: var(--first-color);
}

/*=============== HOME ===============*/
.home {
  background-color: var(--container-color);
}

.home__container {
  padding-top: 2rem;
  row-gap: 2.5rem;
}

.home__content {
  display: grid;
  row-gap: 2rem;
}

.home__data {
  text-align: center;
}



.home__subtitle,
.home__education {
  font-size: var(--bigger-font-size);
}

.home__subtitle span,
.home__title {
  color: var(--first-color);
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
}

.home_description {
  margin-block: 1rem 1.5rem;
}


.home__social {
  display: flex;
  justify-content: center; 
  align-items: center; 
  column-gap: 1.5rem; 
  margin-top: 1.5rem; 
  margin-block: 1rem 1.5rem;
}

.home__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--first-color-alt); 
  padding: 0.75rem;
  color: var(--title-color);
  font-size: 1.75rem;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); 
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  
}

.home__social-link:hover {
  transform: translateY(-0.3rem); 
  background-color: var(--first-color); 
}


.home__image {
  justify-self: center;
}

.home__blob {
  width: 320px;
  fill: var(--first-color);
  filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, 0.2));
}

.home__img {
  width: 900px;
  transform: translateX(-140px);
}

/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  padding: 0.5rem 0.5rem;
  border-radius: 0.7rem;
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: box-shadow 0.7s;
  transform: translateY(0.7rem);
}

.button:hover {
  box-shadow: 0 8px 24px hsla(var(--hue), 100%, 40%, 0.25);
}

/*=============== ABOUT ===============*/
.about__container {
  row-gap: 2.5rem;
}

.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: 2rem;
}

.about__image {
  justify-self: center;
}

.about__blob {
  width: 320px;
}

.about__blob path {
  stroke: var(--first-color);
}



/*=============== SKILLS ===============*/
.skills__container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 40px;
}

.skills__item {
  display: flex; 
  flex-direction: row; 
  gap: 10px; 
  align-items: center; 
}

.skills__group .tooltip {
  position: relative; 
  display: inline-block; 
  text-align: center; 
}

.skills__group .tooltip img {
  row-gap: 2rem;
  width: 60px; 
  height: 60px; 
  object-fit: contain; 
}

.skills__group .tooltip .tooltiptext {
  visibility: hidden; 
  width: 100px; 
  background-color: hsl(228, 15%, 20%);
  color: #fff; 
  text-align: center;
  border-radius: 5px; 
  padding: 5px; 
  position: absolute; 
  z-index: 1; 
  bottom: 125%; 
  left: 50%; 
  margin-left: -50px; 
  opacity: 0; 
  transition: opacity 0.3s; 
}

.skills__group .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.9; 
}

.skills__category {
  margin-bottom: 15px; 
  text-align: center; 
}




/*================VIDEO===========================*/
.video__container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  text-align: center; 
  width: 100%;
  margin: 0 auto;
}

.video__container iframe {
  max-width: 100%;
  border-radius: 10px;
  filter: grayscale(80%) brightness(1.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}




/*================EDUCATION=========================*/

.cornell-logo {
  width: auto; 
  height: auto; 
  display: block; 
  margin-bottom: 10px; 
  margin: 0 auto 10px auto;
}

.djsce-logo {
  width: 400px; 
  height: auto; 
  display: block; 
  margin-bottom: 10px; 
  margin: 0 auto 10px auto;
}

.education__details {
  font-size: 14px; 
  color: var(--first-color); 
  margin-bottom: 10px; 
}

.education__duration,
.education__location {
  display: inline-block;
  margin-right: 5px;
}

.education__container {
  row-gap: 2rem;
  padding-block: 1rem;
}

.education__card {
  text-align: center;
  background-color: var(--container-color);
  padding: 3rem 1.25rem;
  border-radius: 1rem;
  border: 2px solid var(--container-color);
  transition: border 0.4s;
}

.education__description {
  text-align: left; 
  margin: 0 auto; 
  max-width: 500px; 
}
.education__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1.5rem;
}

.education__card:hover {
  border: 2px solid var(--first-color);
}




/*=============== WORK EXPERIENCE ===============*/

.workexperience__company-logo {
  width: 250px; 
  height: auto; 
  display: block; 
  margin-bottom: 10px; 
  margin: 0 auto 10px auto; 
}

.workexperience__details {
  font-size: 14px; 
  color: var(--first-color); 
  margin-bottom: 10px; 
}

.workexperience__duration,
.workexperience__location {
  display: inline-block;
  margin-right: 5px;
}

.workexperience__container {
  row-gap: 2rem;
  padding-block: 1rem;
}

.workexperience__card {
  text-align: center;
  background-color: var(--container-color);
  padding: 3rem 1.25rem;
  border-radius: 1rem;
  border: 2px solid var(--container-color);
  transition: border 0.4s;
}

.workexperience__description {
  text-align: left; 
  margin: 0 auto; 
  max-width: 500px; 
}

.workexperience__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1.5rem;
}

.workexperience__card:hover {
  border: 2px solid var(--first-color);
}

/*=============== PROJECTS ===============*/

.projects {
  background-color: var(--container-color);
}

.projects__container {
  row-gap: 2rem;
  justify-content: center;
  padding-block: 1rem;
}

.projects__card {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  height: 800px;
  width: auto;
}

.project__title {
  text-align: center;
  margin-bottom: 1.5rem; 
  padding: 10px 0; 
}

.projectCard {
  background: linear-gradient(
    180deg,
    hsla(0, 0%, 0%, 0) 0%,
    hsla(var(--hue), 70%, 40%, 0.8) 190%
  );
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}



.projects__subtitle,
.projects__button {
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.projects__subtitle {
  display: block;
  margin-bottom: 0.25rem;
}

.projects__title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.3rem;
  text-align: center;
  margin: 10px 10px 0; 
  padding: 5px 0; 
}

.projects__button {
  color: white;
}

.center-text {
  color: var(--text-color);
  text-align: left; 
  margin: 0 auto; 
  max-width: 500px; 
}

@media (max-width: 600px) {
  .projects__card {
    height: auto; 
  }
  .projects__modal {
    padding: 10px; 
  }
  .project__title {
    font-size: var(--h3-font-size); 
    margin: 15px 15px 5px; 
  }
  .center-text {
    padding: 5px 10px; 
    font-size: var(
      --small-font-size
    );
  }
  .projects__button {
    font-size: var(--small-font-size); 
  }
}




/*=============== Volunteer Experience ===============*/
.carousel {
  position: relative;
  height: auto;
  width: 100;
  max-width: 350px; 
  margin: 0 auto 1rem;
  overflow: hidden;
  border-radius: 10px; 
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 100%;
  max-width: 100%;
}

.carousel-item img {
  width: 70%;
  height: 200px; 
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.carousel-control.left {
  left: 0;
}

.carousel-control.right {
  right: 0;
}


.djrobocon-logo,
.djlit-logo,
.Igniting-logo {
  display: block;
  margin: 0 auto;
}

.volunteer__details {
  font-size: 14px; 
  color: var(--first-color); 
  margin-bottom: 10px; 
}

.volunteer__duration,
.volunteer__location {
  display: inline-block;
  margin-right: 5px;
}

.volunteer__container {
  row-gap: 2rem;
  padding-block: 1rem;
}

.volunteer__card {
  text-align: center;
  background-color: var(--container-color);
  padding: 3rem 1.25rem;
  border-radius: 1rem;
  border: 2px solid var(--container-color);
  transition: border 0.4s;
}

.volunteer__description {
  text-align: left; 
  margin: 0 auto; 
  max-width: 500px; 
}

.volunteer__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1.5rem;
}

.volunteer__card:hover {
  border: 2px solid var(--first-color);
}


